.container
  = render 'layouts/slides'
  = render 'layouts/contacts'
  .row
    .large-12.columns
      %h2 SUPPORT RESOURCES
      .grid
        %p Learn how to install and configure your devices / download documentation and drivers.

    / Nav tabs
    %dl.tabs.vertical{"data-tab" => "true"}
      %dd
        %a{:href => "#panel1a"} COMPUTERS
      %dd.active
        %a{:href => "#panel2a"} SERVERS
      %dd
        %a{:href => "#panel3a"} PRINTERS
      %dd
        %a{:href => "#panel4a"} POINT OF SALE
      %dd
        %a{:href => "#panel5a"} OTHER
    .tabs-content.vertical
      #panel1a.content
        %ul
          %li
            %img{:src => "http://placehold.it/122x120&text=Desktop"}
          %li
            %img{:src => "http://placehold.it/122x120&text=ThinClient"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Laptop"}
          %li
            %img{:src => "http://placehold.it/122x120&text=A-I-O"}
      #panel2a.content.active
        %ul
          %li
            - @products.each do |product|
              = link_to product.name, product, :class=>"button small radius"
      #panel3a.content
        %ul
          %li
            %img{:src => "http://placehold.it/122x120&text=Mobile"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Other"}
      #panel4a.content
        %ul
          %li
            %img{:src => "http://placehold.it/122x120&text=BarcodeSCanner"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Data Collector"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Other"}
      #panel5a.content
        %ul
          %li
            %img{:src => "http://placehold.it/122x120&text=Other"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Other"}
          %li
            %img{:src => "http://placehold.it/122x120&text=Other"}
            



%ul.nav.nav-pills.nav-stacked
  %li
    %a{"data-toggle" => "tab", :href => "#comp"} COMPUTERS
  %li
    %a{"data-toggle" => "tab", :href => "#serv", :class => "active"} SERVERS
  %li
    %a{"data-toggle" => "tab", :href => "#print"} PRINTERS
  %li
    %a{"data-toggle" => "tab", :href => "#pos"} POINT OF SALE
  %li
    %a{"data-toggle" => "tab", :href => "#other"} OTHER
/ Tab panes
.col-lg-9
  .tab-content
    #comp.tab-pane.fade ...home tabbbbbb
    #serv.tab-pane.active
      - @products.each do |product|
        .col-md-3.plink
          = link_to product.name, product, :class=>"label label-info"
    #print.tab-pane.fade ...aaaahdhhdfd
    #pos.tab-pane.fade ...coooll
    #other.tab-pane.fade ...coooll