/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
 */

@import 'font-awesome';
@import 'selectize';
@import 'selectize.default';
@import 'foundation_and_overrides';

.file_tile {
  .header {
    padding-bottom: 0.5em;
    .column_label {
      font-size: 0.6em;
      text-align: center;
    }
  }
  .filelist {
    font-size: 0.9em;
    .form_in_place {
      input[type=text] {
        padding: 0;
        height: 1.25em;
        // margin: 0;
        border: 0;
        &:focus,
        &:active,
        &:hover {
          background: lighten(yellow,40%);;
          background-image: none;
        }
      }
    }
    .filename {
      height: 2em;
      a {
        font-size: 0.5em;
        display: inline-block;
      }
    }
    .download_link {

    }
    .delete_checkbox {
      text-align: center;
    }
  }
}