.nested-fields.attached-fields
  #attached_from_list
    = f.association :attachment, :collection => Attachment.all(:order => 'name'), :prompt => 'Choose an existing attachment'
  = link_to_add_association 'or add a new attachment', f, :attachment
  = link_to_remove_association "remove attachment", f