.nested-fields.attached-fields
  #attached_from_list
    = f.association :attachment, label_method: :name, value_method: :id, :collection => Attachment.all(:order => 'name'), :prompt => 'Choose an existing attachment'