%tr
  %td
    %a{href: ''} 
      =link_to @product.attachment.filelocation do
        = attachment.name
  %td
    %a.btn.btn-default.btn-xs.btn-success{:href => "#{}"}
      %strong
        = attachment.filetype
