= f.simple_fields_for :attachments do |att|
  .row
    .large-8.columns
      = att.label @attached.first.attachment.name

    .large-3.columns
      = att.input_field :_destroy, as: :boolean, input_html: { id: "right-label", class: "inline"}
      = att.label :_destroy, "Remove", input_html: { for: "right-label", class: "right inline"}