%tr
  %td
    %h3
      = video.name
  %td
%tr
  %td
    = video_tag(video.source, size: "640x360", autobuffer: true, id: "player1")
  %td
    .desc
      .h4
        Description
      .desctext
        %p
          = video.description

:javascript
  // using jQuery
  $('video,audio').mediaelementplayer(/* Options */);