%ul#breadcrumbs-two
	%li
		%a EDITING
	%li
		%a{:href=> "#"}= @product.name
.container
	= render 'form'
	.row
		.col-xs-6.col-md-6.btn-group.form-actions
			= link_to 'Show', @product, :class => 'btn btn-info'
			= link_to 'Cancel', products_path, :class => 'btn btn-danger'