.row
  .large-6.columns
    %h2 CONTACT
    .panel
      %p.one For assistance with your technical questions, here are some ways to get in touch with us:
      %ul.midium-block-grid-2
        %li
          Toll-Free:
          %a{:href => "tel:18005555555"} (800) 555-5555
  .large-6.columns
    %h2 CONNECT
    .panel
      %p.two For help with your computer, connect with one of our technicians now:
      .row.collapse
        .small-10.columns
          %input{:placeholder => "Invitation Code", :type => "text"}
        .small-2.columns
          %a.button.postfix{:href => "#"} Join
