.row
  .large-12.columns
    %ul.example-orbit{"data-orbit" => ""}
      %li
        %img{:alt => "slide 1", :src => "/img/ban1.png"}/
        .orbit-caption
          Click here to learn more.
      %li
        %img{:alt => "slide 2", :src => "http://placehold.it/1000x300/A92B48/fff&text=NEED SUPPLIES?"}/
        .orbit-caption
          Caption Two.
      %li
        %img{:alt => "slide 3", :src => "http://placehold.it/1000x300/FDC43D/fff&text=NEED SOFTWARE LICENSES?"}/
        .orbit-caption
          Caption Three.