.row
  .large-12.columns
    %ul.example-orbit{"data-orbit" => ""}
      %li
        .hero-slide.hs-one
          .row
            .large-12.columns
              .h1
                GET OUR AWESOME SUPPORT PLAN
              .h2
                Different plans available to suite your needs
        .orbit-caption
          Find out more about our plans.
      %li
        .hero-slide.hs-two
          .row
            .large-12.columns
              .h1
                NEED SUPPLIES?
              .h2
                WE'VE GOT THEM!
        .orbit-caption
          Order supplies..
      %li
        .hero-slide.hs-three
          .row
            .large-12.columns
              .h1
                EXPANDING? NEED MORE SOFTWARE LICENSES?
              .h2
                WE'VE GOT THEM TOO!
        .orbit-caption
          Click here to order software licenses..